# macOS specific
.DS_Store

# default macOS folders
Applications/
Desktop/
Documents/
Downloads/
Library/
Music/
opt/
packages/
Pictures/
Public/
Movies/

# things in config
.config
#!/.config/yadm/

# hidden files / folders
.bash_history
.bash_sessions
.CFUserTextEncoding
.conda
.gitconfig
.gnupg
.ipython
.jupyter
.keras
.lesshst
.local
.matplotlib
.oh-my-zsh
.oracle_jre_usage
.pylint.d
.python_history
.rbenv
.ssh
.Trash
.viminfo
.vscode
.zcompdump
Air-5.7.1
.zsh_history
.zcompdump*
.gem
.iStats
.cookiecutters
.touchid-for-sudo
.swp
.tmux.conf.swp

