# macOS specific
.DS_Store

# personal files
todo.txt

# default macOS folders
Applications/
Desktop/
Documents/
Downloads/
Library/
Music/
opt/
packages/
Pictures/
Public/
Movies/

# other folders
go/

# hidden files / folders
.ipynb_checkpoints
.config
.bash_history
.bash_sessions
.CFUserTextEncoding
.conda
.gitconfig
.gnupg
.ipython
.jupyter/migrated
.keras
.lesshst
.local
.matplotlib
.oh-my-zsh
.oracle_jre_usage
.pylint.d
.python_history
.rbenv
.ssh
.Trash
.viminfo
.vscode
.zcompdump
Air-5.7.1
.zsh_history
.zcompdump*
.gem
.iStats
.cookiecutters
.touchid-for-sudo
.swp
.tmux.conf.swp
.cookiecutter_replay
.vscode
.lesshsQ
.vim/.netrwhist 
.npm
.BetterTouchTool
.sonic-pi
.bundle
.cisco
.tldrc
VirtualBox*
